/* GENERAL */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #222;
}

.hidden { display: none; }

/* HEADER */
header {
  background-color: #b31b1b;
  color: white;
  text-align: center;
  padding: 20px 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

/* MAIN */
.dashboard {
  text-align: center;
  margin-top: 30px;
}

.choice-buttons {
  margin-top: 20px;
}

.btn {
  background-color: #b31b1b;
  color: white;
  border: none;
  padding: 12px 25px;
  margin: 10px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #ff2c2c;
  transform: scale(1.05);
}

/* SECTION CARD */
section {
  max-width: 850px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.room-card, .outlet-card {
  padding: 12px;
  font-size: 1rem;
  border-bottom: 1px solid #ddd;
  border-radius: 8px;
  transition: 0.3s;
}

.room-card:last-child,
.outlet-card:last-child {
  border-bottom: none;
}

/* STATUS COLORS */
.status.free, .status.good { color: #00b300; font-weight: bold; }
.status.busy, .status.taken { color: #ffcc00; font-weight: bold; }
.status.broken { color: #ff0000; font-weight: bold; }

/* MAP */
#map {
  height: 500px;
  margin-top: 15px;
  border-radius: 10px;
}

.map-text {
  text-align: center;
  color: gray;
}
